rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tournaments/{tournamentId} {
      allow read, write: if true;  // For development only
      
      match /{document=**} {
        allow read, write: if true;  // Allow access to nested collections
      }
    }
  }
} 